
:root{
    --lavender-web: #eae8ffff;
    --light-gray: #d8d5dbff;
    --primary-color: #adacb5ff;
    --naber-color: #2d3142ff;
    --shadow-blue: #6f84a1ff;
    --iceberg: #90aed0ff;
    --secondary-color: #b7dbffff;
    --background-color: #bedeffff;
    --beau-blue: #c4e1ffff;
    --text-color: #fff;
}

body{
    background-color: var(--background-color);
    color: var(--text-color);

    font-family: 'Montserrat', sans-serif;
}