{% macro navbar() %}
<nav class="navbar navbar-dark bg-dark ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bar-chart-line-fill" viewBox="0 0 16 16">
            <path d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1V2z"/>
          </svg>
          Kingsley
      </a>
        <a class="nav-text-selected" aria-current="page" href="/">Home</a>
        <a class="nav-text" href="#">Projects</a>
        <a class="nav-text" href="/education">Education & Experence</a>
        <a class="nav-text" href="/about">about me</a>
        
    </div>
  </nav>

{%- endmacro %}